<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="TeslaMergeWin" type="System.Configuration.NameValueSectionHandler" />
  </configSections>


  <TeslaMergeWin>
    <!-- root folder for dashcam recordings-->
    <add key="DashCamFolder" value="\\mammon\backup\tesla\dashcam" />
    
    <!-- folder that contains ffmpeg.exe and ffprobe.exe -->
    <add key="ffmpegBinaryFolder" value="e:\ffmpeg\bin" />

    <!-- file that starts the ffmpeg proecss. whatever syncs your data to a share should touch a file at the end of the process -->
    <add key="TriggerFile" value="\\mammon\backup\tesla\dashcam\copydone" />

    <!-- Delete original movie files after combination but only on success -->
    <add key="DeleteOriginals" value="false" />

    <!-- date format https://docs.microsoft.com/en-us/dotnet/standard/base-types/custom-date-and-time-format-strings -->
    <add key="DateFormat" value="M/d/yyyy h:mmtt" />
    
    <!--  
      $RIGHTCAM, $LEFTCAM, $FRONTCAM, $OUTPUTFILE, $PREVIEWFILE, $TIMELAPSEFILE, $DATE are the replacement variables  
      
      to use nvenc, uncomment the nvenc lines and comment the software lines
    -->
    <!-- nvenc
    <add key="CombinedFileArguments" value="-hide_banner -loglevel quiet -y -i $RIGHTCAM -i $FRONTCAM -i $LEFTCAM -filter_complex &quot;[1:v][0:v] scale2ref=oh* mdar:ih[1v][0v];[2:v] [0v] scale2ref=oh* mdar:ih[2v][0v];[0v] [1v] [2v] hstack=3,scale='2*trunc(iw/2)':'2*trunc(ih/2)',drawtext=text='Right Repeater':fontcolor=red:fontsize=70:box=1:boxcolor=black@0.5:x=20:y=h-70,drawtext=text='Center':fontcolor=red:fontsize=70:box=1:boxcolor=black@0.5:x=(w-text_w)/2:y=h-70,drawtext=text='Left Repeater':fontcolor=red:fontsize=70:box=1:boxcolor=black@0.5:x=(w-text_w)-20:y=h-70,drawtext=text='$DATE':fontcolor=white:fontsize=70:box=1:boxcolor=black@0.5:x=20:y=20&quot; -codec:v h264_nvenc -qmin:v 24 -qmax:v 29 -preset slow -rc-lookahead:v 32 -temporal-aq:v 1 -weighted_pred:v 1 -coder:v cabac -tune fastdecode -movflags +faststart -threads 0 $OUTPUTFILE" />
    <add key="PreviewFileArguments" value="-hide_banner -loglevel quiet -y -i $OUTPUTFILE -sws_flags lanczos+accurate_rnd -vf &quot;scale=960:240&quot; -codec:v h264_nvenc -qmin:v 28 -qmax:v 52 -preset slow -rc-lookahead:v 32 -temporal-aq:v 1 -weighted_pred:v 1 -coder:v cabac -tune fastdecode -movflags +faststart -threads 0 $PREVIEWFILE" />
    <add key="TimelapseFileArguments" value="-hide_banner -loglevel quiet -y -i $PREVIEWFILE -vf &quot;setpts=0.09*PTS&quot; -codec:v h264_nvenc -qmin:v 28 -qmax:v 52 -preset slow -rc-lookahead:v 32 -temporal-aq:v 1 -weighted_pred:v 1 -coder:v cabac -tune fastdecode -movflags +faststart -threads 0 $TIMELAPSEFILE" />
    -->
    <!-- software -->
    <add key="CombinedFileArguments" value="-hide_banner -loglevel quiet -y -i $RIGHTCAM -i $FRONTCAM -i $LEFTCAM -filter_complex &quot;[1:v][0:v] scale2ref=oh* mdar:ih[1v][0v];[2:v] [0v] scale2ref=oh* mdar:ih[2v][0v];[0v] [1v] [2v] hstack=3,scale='2*trunc(iw/2)':'2*trunc(ih/2)',drawtext=text='Right Repeater':fontcolor=red:fontsize=70:box=1:boxcolor=black@0.5:x=20:y=h-70,drawtext=text='Center':fontcolor=red:fontsize=70:box=1:boxcolor=black@0.5:x=(w-text_w)/2:y=h-70,drawtext=text='Left Repeater':fontcolor=red:fontsize=70:box=1:boxcolor=black@0.5:x=(w-text_w)-20:y=h-70,drawtext=text='$DATE':fontcolor=white:fontsize=70:box=1:boxcolor=black@0.5:x=20:y=20&quot; -tune fastdecode -movflags +faststart -threads 0 $OUTPUTFILE" />
    <add key="PreviewFileArguments" value="-hide_banner -loglevel quiet -y -i $OUTPUTFILE -sws_flags lanczos+accurate_rnd -vf &quot;scale=960:240&quot; -c:v libx264 -crf 28 -profile:v main -tune fastdecode -movflags +faststart -threads 0 $PREVIEWFILE" />
    <add key="TimelapseFileArguments" value="-hide_banner -loglevel quiet -y -i $PREVIEWFILE -vf &quot;setpts=0.09*PTS&quot; -c:v libx264 -crf 28 -profile:v main -tune fastdecode -movflags +faststart -threads 0 $TIMELAPSEFILE" />



    <!-- leave empty for no pushover notification-->
    <add key="PushOverApplication" value="" />
    <add key="PushOverUser" value="" />
     
         
  </TeslaMergeWin>
  
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>